@import './vendors/normalize.css';
@import './custom/input.scss';
@import './swiper/swiper.scss';

// Font connection
@font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Montserrat-Regular.woff) format('woff');

    
}

// fonts variables
$font-main-regular: 'Montserrat-Regular', sans-serif;

// Other page styles
body {
    font: 400 14px/1.2 $font-main-regular, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.page {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.block-money {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_high {
        font-size: 45px;
    }

    p {
        margin-bottom: 0;
        font-size: 20px;
    }
    
    h2 {
        margin: 10px 0;
        font-size: 30px;
    }
}

.block-group {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-analytics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        margin: 10px 0;
        font-size: 35px;
    }

    h4 {        
        margin: 0;
        font-size: 15px;
    }

}

.block-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {      
            display: block;
            margin: 20px auto;      
            width: 180px;
            border-radius: 23px;
            height: 30px;
            background-color: #1b4ffa94;
            border: none;
            outline: none;
            text-decoration: none;
            padding: 5px 10px;

            font-weight: bold;
            color: #FFF;

            &::placeholder {
                font-weight: bold;
                color: #FFF;
            }
        }
    }

    button {
        display: block;
        margin: 0 auto;

        font-size: 20px;

        width: 200px;
        height: 40px;
        background-color: #1b4ffa94;
        border: none;
        border-radius: 23px;
        
        font-weight: bold;
        color: #FFF;

        transition: all .5s ease-in-out;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 2px 10px #14359e94;
        }
    }
}