<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="max-age=900, must-revalidate" />

    <title>
        <%= t('Title') %>
    </title>

    <meta name="description" content="<%= t('Custom Webpack Starter for pages') %>">
</head>

<body>
    <main class="page" id="root"></main>    
</body>

</html>